<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="sgphdbEntities" connectionString="metadata=res://*/SgphModel.csdl|res://*/SgphModel.ssdl|res://*/SgphModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=h468fc8;User Id=root;password=siplan;Persist Security Info=True;database=sgphdb&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>